<% include ../partials/header %>

<div class="thumbnail center-block" style="width: 80vw">
    <% if(user.banner) { %>
        <img class="text-center" src="<%= user.banner %>">
        
        <% if(currentUser && currentUser.id == user._id) { %>
            <a href="#collapseBannerForm" class="btnbanner btn btn-default" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseBannerForm">
                <i class="fas fa-edit"></i>
            </a>
        <% } %>
    <% } %>

    <% if(currentUser && currentUser.id == user._id && !user.banner) { %>
        <h3 class="text-center">You have no banner image</h3>
        <a href="#collapseBannerForm" style="width: 30vw" class="center-block btn btn-default btn-lg" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseBannerForm">
            Add Banner <i class="fas fa-edit"></i>
        </a>
    <% } %>
</div>

<!-- <div class="thumbnail center-block">
    <% if(user.banner) { %>
        <img class="text-center" src="<%= user.banner %>">
        
        <% if(currentUser && currentUser.id == user._id) { %>
            <a href="#collapseBannerForm" class="btnbanner btn btn-default" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseBannerForm">
                <i class="fas fa-edit"></i>
            </a>
        <% } %>
    <% } %>
</div>


<% if(currentUser && currentUser.id == user._id && !user.banner) { %>
    <div class="thumbnail center-block" style="width: 80vw">
        <h3 class="text-center">You have no banner image</h3>
        <a href="#collapseBannerForm" style="width: 30vw" class="center-block btn btn-default btn-lg" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseBannerForm">
            Add Banner <i class="fas fa-edit"></i>
        </a>
    </div>
<% } %> -->

<div class="collapse" id="collapseBannerForm">
    <div class="well">
        <% if(!currentUser) { %>
            <h5>You can't do that!</h5>
        <% } %>
        <% if(currentUser && currentUser.id == user._id) { %>
            <h4>Add Banner URL</h4>
            <form id="add-comment-form" action="/user/<%= user._id %>/banner" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="banner" required></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Change Banner</button>
                </div>
            </form>
        <% } %>
    </div>
</div>
<!-- <div class="jumbotron">
    <% if(user.avatar) { %>
        <img class="avatar img-rounded" src="<%= user.avatar %>">
    <% } else { %>
        <img class="avatar img-rounded" src="https://via.placeholder.com/50">
    <% } %>
    <div class="inline">
        <% if(user.firstName && user.lastName) { %>
            <h1 class="user-title inline"><%= `${user.username} (${user.firstName} ${user.lastName})` %></h1>
        <% } else { %>
            <h1 class="user-title inline"><%= `${user.username}` %></h1>
        <% } %>
        <% if(user.isAdmin) { %>
            <p class="text-success">(Admin)</p>
        <% } %>
    </div>
    
</div>

<div class="row">
    <h2><%= user.username %>'s Forum Threads:</h2>
    <% if(posts) { %>
        <% posts.forEach(function(post) { %>
            <div class="col-md-4 inline-style">
                <div class="thumbnail">
                    <img src="<%= post.image %>">
                    <div class="caption">
                        <h3><%= post.title %></h3>
                        <a href="/forum/<%= post.id %>" class="btn btn-primary">Go to Thread</a>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <h3>This user has no posts</h1>
    <% } %>
    
</div> -->

<% include ../partials/footer %>